{% extends "layout.html" %}

{% block body %}
<div class="row-fluid">
  <div class="span8">
    <div class="span12">
      <div class="span6">
	<h1>{{book_name.decode('latin-1')}} </h1>
	<p class="lead"> Capítulo {{chapter}}</p>
      </div>
      <div class="span2 offset4">
	<h1>&nbsp </h1>
	<div class="btn-group pull-right">
	  <a class="btn" href="{{url_prev}}"><i class="icon-chevron-left"></i></a>
  	  <a class="btn" href="{{url_next}}"><i class="icon-chevron-right"></i></a>
	  <a class="btn" href="#"><i class="icon-align-justify"></i></a>
	</div>
      </div>
    </div>
    <div class="span12">
      <dl class="verses dl-horizontal clearfix">
	{% for verse in verses %}
	<dt class="span1">{{chapter}}:{{verse['verse_num']}}</dt>
	<dd class="span10">
	  <div id="verse {{chapter}}:{{verse['verse_num']}}" class="verse {%if chapter ~ ':' ~ verse['verse_num'] in hilights %} alert {% endif %} span11">
	    {{verse['verse'].decode('latin-1')}}
	  </div>
	  <div id="{{chapter}}:{{verse['verse_num']}}" class="comment-icon inactive span1"><i class="icon-comment"></i></div>
	</dd>
	{% else %}
	<dd>
	  <em>Chapter not found!</em>
	</dd>
	{% endfor %}
      </dl>
    </div>
  </div>
</div>

{% endblock %}
