{% extends "layout.html" %}

{% block body %}
<div class="row-fluid">
  <div class="span8">
    <div class="span12">
      <div class="span6">
	<h1>{{book_name.decode('latin-1')}} </h1>
	<p class="lead"> Capítulo {{chapter}}</p>
      </div>
      <div class="span2 offset4">
	<h1>&nbsp </h1>
	<div class="btn-group pull-right">
	  <a class="btn" href="{{url_prev}}"><i class="icon-chevron-left"></i></a>
  	  <a class="btn" href="{{url_next}}"><i class="icon-chevron-right"></i></a>
	</div>
      </div>
    </div>
    <div class="span11">
      <blockquote>
	{% for verse in verses %}
	<div id="{{chapter}}:{{verse['verse_num']}}" class="verse">
	  <small><strong>{{chapter}}:{{verse['verse_num']}}</strong> </small>
	  <p>{{ verse['verse'].decode('latin-1') }}</p>
	</div>
	{% else %}
	<em>Chapter not found!</em>
	{% endfor %}
      </blockquote>
    </div>
  </div>
  <div class="span12" id="result">Teste</div>
</div>

{% endblock %}
